<!DOCTYPE html>
<html>
  <head>
    <title>JointJS Test Suite</title>
     <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.16.0.css">
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", 'http://code.jquery.com/qunit/qunit-1.16.0.js', "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <%= yield %>
  </body>
</html>
